@tailwind base;
@tailwind components;
@tailwind utilities;
/* ⚠️ CSS optimized for the tutorial, not for expanding to a larger site. ⚠️ */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

svg {
  pointer-events: none;
}

a {
  all: unset;
  cursor: pointer;
}

:root {
  /* fonts */
  --fs-200: 12px; //clamp(0.78rem, calc(0.71rem + 0.35vw), 0.96rem);
  --fs-300: 16px; //clamp(0.94rem, calc(0.84rem + 0.51vw), 1.2rem);
  --fs-400: 20px; //clamp(1.13rem, calc(0.98rem + 0.73vw), 1.5rem);
  --fs-500: 24px; //clamp(1.94rem, calc(1.56rem + 1.92vw), 2.93rem);
  --fs-600: 32px; //clamp(2.8rem, calc(2.11rem + 3.47vw), 4.58rem);
  --lh-1: 1;
  --lh-1-1: 1.1;
  --lh-1-4: 1.4; /* colors */
  --accent-transparent: 183 74% 44%;
  --accent: 220 74% 44%;
  --bkg: 190 60% 10-%;
  --text: 185 26% 9%;
  --muted: 183 8% 55%;
  --light: 180 14% 85%;
  --warning: 4 66% 63%; /* utils */
  --space-xs: 4px;
  --space-sm: 8px;
  --space-md: 16px;
  --space-lg: 24px;
  --space-xl: 32px;
  --content-sm: 40ch;
  --content: 60ch;
  --round-sm: 8px;
  --round-md: 16px;
  --round-lg: 24px;
  --round-full: 100vmax; /* toast customizations */
  --toastify-color-success: hsl(var(--accent));
}

body {
  display: flex;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: var(--fs-300);
  line-height: var(--lh-1-4);
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  background-color: hsl(var(--bkg));
  color: hsl(var(--text));
  height: 100vh;
  overflow: hidden;
  background-color: hsl(220, 50, 90);
}

.flex {
  display: flex;
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

/* typography */
.bold {
  font-weight: bold;
}
.semibold {
  font-weight: 600;
}
.medium {
  font-weight: 500;
}
.semilight {
  font-weight: 300;
}
.light {
  font-weight: 200;
}
.thin {
  font-weight: 100;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: var(--lh-1);
  font-weight: 400;
}

h1,
.h1 {
  font-size: var(--fs-600);
}

h2,
.h2 {
  font-size: var(--fs-500);
}

h3,
.h3 {
  font-size: var(--fs-400);
}

small {
  font-size: var(--fs-200);
  line-height: var(--lh-1);
}

p {
  max-width: var(--content);
}

/* color utils */

.accent {
  color: hsl(var(--accent));
}

.muted {
  color: hsl(var(--muted));
}

/* links and buttons */

:where(a, .btn):focus {
  outline: none;
}

:where(.btn) {
  --color: hsl(var(--bkg));
  background-color: var(--backdrop);
  color: var(--color);
  padding: var(--space-xs) var(--space-sm);
  border: 2px solid var(--backdrop);
  font-size: var(--fs-300);
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: var(--space-xs);
  max-width: -moz-fit-content;
  max-width: fit-content;
  cursor: pointer;
}

:where(.btn):is(:hover, :focus-visible) {
  background-color: var(--backdrop);
  color: var(--color);
}

:where(.btn--dark) {
  --backdrop: hsl(var(--text));
}

:where(.btn--outline) {
  background-color: var(--color);
  color: var(--backdrop);
  border: 2px solid var(--backdrop);
}

:where(.btn--outline):is(:hover, :focus-visible) {
  --backdrop: var(--outline);
  --color: hsl(var(--bkg));
  outline: 0px solid var(--outline);
}

:where(.btn--warning) {
  --backdrop: hsl(var(--warning) / 0.1);
  border: 2px solid hsl(var(--warning));
  --color: hsl(var(--warning));
}

:where(.btn--warning):is(:hover, :focus-visible) {
  --backdrop: hsl(var(--warning));
  --color: hsl(var(--bkg));
}

.btn[disabled] {
  opacity: 0.5;
}

/* utility layouts */

.flex-lg {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  gap: var(--space-lg);
}

.flex-md {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  gap: var(--space-md);
}

.flex-sm {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  gap: var(--space-sm);
}

.grid-lg {
  display: grid;
  gap: var(--space-lg);
  width: 100%;
}

.grid-md {
  display: grid;
  gap: var(--space-md);
  width: 100%;
}

.grid-sm {
  display: grid;
  gap: var(--space-sm);
  width: 100%;
}

.grid-xs {
  display: grid;
  gap: var(--space-xs);
  width: 100%;
}

[hidden] {
  display: none;
}

/* main layout */
.layout {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

.layout > img {
  width: 100%;
}

main {
  max-width: 1500px;
  width: 100%;
  padding: var(--space-md) var(--space-md);
  gap: var(--space-md);
  margin-inline: auto;
  display: flex;
  display: flex;
  place-items: start;
}

/* navbar */
nav {
  display: flex;
  position: sticky;
  top: 0px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1500px;
  margin-inline: auto;
  backdrop-filter: blur(16px) saturate(120%);
  background: hsla(210, 80%, 80%, 0.25);
  padding: 1.5rem;
  border-bottom: 1px solid #0001;
  /* box-shadow: 0px 4px 20px #0001; */
}

nav a {
  display: flex;
  align-items: center;
  gap: var(--space-xs);
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  gap: 12px;
}

/* forms */
label {
  font-size: var(--fs-200);
  text-transform: uppercase;
  font-weight: 600;
}

button {
  padding: var(--space-sm) var(--space-md);
  display: flex;
  place-content: center;
  align-items: center;
  font-size: 16px;
  gap: var(--space-sm);
  background: hsla(220, 80%, 50%, 16%);
  color: hsla(220, 80%, 50%, 1);
  font-weight: 500;
  border-radius: var(--space-sm);
  border: none;
  cursor: pointer;
  &:hover {
    background: hsla(220, 80%, 50%, 24%);
  }
  &.primary {
    background: hsla(220, 80%, 50%, 100%);
    color: white;
    &:hover {
      background: hsla(220, 80%, 40%, 100%);
    }
  }
}

button.destructive {
  background: hsla(0, 80%, 50%, 16%);
  color: hsla(0, 80%, 50%, 1);
  &:hover {
    background: hsla(0, 80%, 50%, 24%);
  }
}

input,
select {
  width: 100%;
  font: inherit;
  font-size: var(--fs-300);
  background-color: hsl(var(--bkg));
  border: 1px solid #0000;
  background: #00000011;
  border-radius: var(--round-sm);
  padding: var(--space-sm) var(--space-md);
  height: 100%;
}

:is(input, select):focus {
  outline: none;
  background: #00000005;
  border-color: hsl(var(--accent));
  box-shadow: 0 0 0 1px hsl(var(--accent));
}

.w-full {
  width: 100%;
}

.intro div {
  display: grid;
  gap: var(--space-sm);
  max-width: var(--content-sm);
}

.intro form {
  display: grid;
}

/* dashboard */
.dashboard {
  display: grid;
  gap: var(--space-lg);
  place-items: start;
  width: 100%;
}

/* form */
.form-wrapper {
  flex: 1 1 48%;
  max-width: 800px;
  position: relative;
  display: grid;
  gap: var(--space-sm);
  background-color: var(--bkg);
  padding: var(--space-xl);
  border-radius: var(--round-lg);
  box-shadow: 0px 16px 60px hsl(var(--muted) / 0.2);
  border-top: 0.15em solid white;
  border-left: 0.15em solid white;
  border-right: 0.15em solid hsl(var(--bkg));
  border-bottom: 0.15em solid hsl(var(--bkg));
}

.form-wrapper::before {
  content: "";
  position: absolute;
  inset: 0.55rem;
  border-radius: calc(var(--round-lg) * 0.6);
  z-index: -1;
}

.expense-inputs {
  display: flex;
  gap: var(--space-md);
}

@media screen and (max-width: 725px) {
  .expense-inputs {
    flex-wrap: wrap;
  }
}

/* budgets */
.budgets {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-md);
}

.budget {
  --backdrop: var(--accent);
  display: grid;
  flex: 1 1 32.2%;
  max-width: 600px;
  box-shadow: 0.25em 0.3em 1em hsl(var(--muted) / 0.2);
  background-color: var(--bkg);
  border-radius: var(--round-lg);
  border: 3px solid hsl(var(--backdrop));
  padding: calc(var(--space-md) / 1.5) calc(var(--space-md) / 1.2);
  gap: var(--space-sm);
  text-decoration: none;
  color: hsl(var(--backdrop));
}

.budget > .flex-sm {
  padding-top: var(--space-sm);
  display: flex;
  justify-content: center;
}

.progress-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-lg);
}

.progress-text :nth-child(2) {
  text-align: right;
}

.progress-text:nth-of-type(2) :nth-child(2) {
  color: hsl(var(--muted));
}

progress {
  -moz-appearance: none;
  appearance: none;
  border: none;
  width: 100%;
  height: var(--space-sm);
  border-radius: 100vmax;
  overflow: hidden;
  -o-transition: all 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
  background-color: hsl(var(--light));
}

progress[value]::-moz-progress-bar {
  -moz-transition: all 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
  background-color: hsl(var(--backdrop));
}

/* error pages */
.error {
  place-self: center;
  display: grid;
  place-items: center;
  place-content: center;
  gap: var(--space-lg);
  padding-block: var(--space-lg);
  text-align: center;
}

/* chart component */
.table {
  overflow-x: auto;
}

table {
  width: 100%;
}

tr:nth-child(odd) {
  background-color: hsl(var(--accent) / 0.04);
}

td {
  border: none;
  font-size: var(--fs-200);
}

thead > tr:nth-child(odd) {
  background-color: hsl(var(--bkg));
}

td,
th {
  text-align: center;
  padding: var(--space-xs);
}

table .btn {
  margin-inline: auto;
}

table a {
  text-decoration: none;
  color: hsl(var(--bkg));
  background-color: hsl(var(--accent));
  padding: var(--space-xs) var(--space-sm);
  border-radius: var(--round-full);
}

/* toast */
.Toastify__toast-body {
  font-size: var(--fs-300);
}
